
@{
    ViewBag.Title = "Antrenmana Hareket Ekle";
}
<div class="Satir">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="simpleboxHeader UstBosluk">Antrenmana Hareket Ekle</div>
        <div class="simpleboxContent">
            <div class="formBox">
                <form action="#" method="post">
                    <ul>
                        <li>Antrenman Açıklaması : </li>
                        <li><input type="text" class="defaultInput inputFullWidth" value="Sırt ve ön kol antrenmanı." disabled><input type="hidden" name="seciliAntrenmanID" value="secilenantrenmanidsi" /></li>
                        <li>Antrenman Tarihi : </li>
                        <li><input type="text" class="defaultInput" value="08.09.2017" disabled></li>
                        <li>Antrenman Durumu : </li>
                        <li><input type="text" class="defaultInput" value="Yapıldı" disabled></li>
                        <li>Eklenecek Hareket : </li>
                        <li><select class="defaultInput" name="hareketID"><option value="hareketID">Bench Press</option></select></li>
                        <li><button><i class="fa fa-save"></i>&nbsp; Hareketi Antrenmana Ekle</button></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>