
@{
    ViewBag.Title = "Harekete Set Ekle";
}
<div class="Satir">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="simpleboxHeader UstBosluk">Harekete Set Ekle</div>
        <div class="simpleboxContent">
            <div class="formBox">
                <form action="#" method="post">
                    <ul>
                        <li>Antrenman Açıklaması : </li>
                        <li><input type="text" class="defaultInput inputFullWidth" value="Sırt ve ön kol antrenmanı." disabled><input type="hidden" name="seciliAntrenmanID" value="secilenantrenmanidsi" /></li>
                        <li>Antrenman Tarihi : </li>
                        <li><input type="text" class="defaultInput" value="08.09.2017" disabled></li>
                        <li>Antrenman Durumu : </li>
                        <li><input type="text" class="defaultInput" value="Yapıldı" disabled></li>
                        <li>Set Eklenecek Hareket : </li>
                        <li><input type="text" class="defaultInput" value="Bench Press" disabled></li>
                        <li>Ağırlık ve Tekrar : </li>
                        <li><input type="text" class="defaultInput inputSmallWidth" name="setAgirlik" placeholder="Ağırlık örn: 25"><input type="text" class="defaultInput inputSmallWidth" name="setTekrar" placeholder="Tekrar örn: 8"></li>
                        <li><button><i class="fa fa-save"></i>&nbsp; Harekete Set Ekle</button></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>