@{
    ViewBag.Title = "Dashboard";
}
<div class="Satir">
    <div class="col-3">
        <div class="simpleboxHeader UstBosluk">06 Ağustos | Omuz Antrenmanı&nbsp;&nbsp; <a href="#" title="Antrenmana yeni hareket ekle"><i class="fa fa-plus-square"></a></i></div>
        <div class="simpleboxContent">
            <table cellspacing="0">
                <thead>
                    <tr>
                        <td height="5%"></td>
                    </tr>
                    <tr>
                        <td height="25" colspan="4">Barbell Shoulder Press &nbsp; <a href="#" title="Harekete yeni set ekle"><i class="fa fa-plus-square"></a></i>&nbsp; <a href="#" title="Hareketi ve setleri sil"><i class="fa fa-trash-o"></a></i></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="sutunSolBosluk" height="23"><a href="#" title="Bu seti sil"><i class="fa fa-trash-o"></a></i></td>
                        <td class="sutunSetNumarasi">Set : 1</td>
                        <td class="sutunAgirlik">Ağırlık : 25 KG</td>
                        <td>Tekrar : 8</td>
                    </tr>
                    <tr>
                        <td class="sutunSolBosluk" height="23"><a href="#" title="Bu seti sil"><i class="fa fa-trash-o"></a></i></td>
                        <td class="sutunSetNumarasi">Set : 2</td>
                        <td class="sutunAgirlik">Ağırlık : 25 KG</td>
                        <td>Tekrar : 8</td>
                    </tr>
                    <tr>
                        <td class="sutunSolBosluk" height="23"><a href="#" title="Bu seti sil"><i class="fa fa-trash-o"></a></i></td>
                        <td class="sutunSetNumarasi">Set : 3</td>
                        <td class="sutunAgirlik">Ağırlık : 25 KG</td>
                        <td>Tekrar : 8</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <td height="5%"></td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>