
@{
    ViewBag.Title = "Yeni Hareket Ekle";
}
<div class="Satir">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="simpleboxHeader UstBosluk">Yeni Hareket Ekle</div>
        <div class="simpleboxContent">
            <div class="formBox">
                <form action="/Action/YeniHareketiKaydet" method="post">
                    <ul>
                        <li>Hareket Açıklaması : </li>
                        <li><input type="text" class="defaultInput inputFullWidth" maxlength="150" name="hareketAdi" placeholder="örn: Bench Press"><input type="hidden" name="seciliAntrenmanID" value="secilenantrenmanidsi" /></li>
                        <li><button><i class="fa fa-save"></i>&nbsp; Yeni Hareketi Kaydet</button></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
